[submodule "third-party/CBFLib"]
	path = third-party/CBFLib
	url = git://git.epn-campus.eu/repositories/CBFlib.git
[submodule "third-party/Sps"]
	path = third-party/Sps
	url = git://git.epn-campus.eu/repositories/Sps.git
[submodule "third-party/Processlib"]
	path = third-party/Processlib
	url = git://git.epn-campus.eu/repositories/Processlib.git
[submodule "camera/basler"]
	path = camera/basler
	url = git://git.epn-campus.eu/repositories/LimaCameraBasler
[submodule "camera/pilatus"]
	path = camera/pilatus
	url = git://git.epn-campus.eu/repositories/LimaCameraPilatus
[submodule "applications/tango"]
	path = applications/tango
	url = git://git.epn-campus.eu/repositories/LimaTango
[submodule "documentation"]
	path = documentation
	url = git://git.epn-campus.eu/repositories/LimaDocumentation
[submodule "third-party/yat"]
	path = third-party/yat
	url = git://git.epn-campus.eu/repositories/yat
[submodule "camera/xpad"]
	path = camera/xpad
	url = git://git.epn-campus.eu/repositories/LimaCameraXpad
[submodule "camera/marccd"]
	path = camera/marccd
	url = git://git.epn-campus.eu/repositories/LimaCameraMarCCD
[submodule "camera/adsc"]
	path = camera/adsc
	url = git://git.epn-campus.eu/repositories/LimaCameraADSC
[submodule "camera/mythen"]
	path = camera/mythen
	url = git://git.epn-campus.eu/repositories/LimaCameraMythen
[submodule "third-party/CCfits"]
	path = third-party/CCfits
	url = git://git.epn-campus.eu/repositories/CCfits
[submodule "third-party/cfitsio"]
	path = third-party/cfitsio
	url = git://git.epn-campus.eu/repositories/cfitsio
