[submodule "camera/basler"]
	path = camera/basler
	url = https://github.com/gjover/Lima-camera-basler.git
[submodule "camera/pilatus"]
	path = camera/pilatus
	url = https://github.com/gjover/Lima-camera-pilatus.git
[submodule "applications/tango"]
	path = applications/tango
	url = https://github.com/gjover/Lima-tango.git
[submodule "documentation"]
	path = documentation
	url = https://github.com/gjover/Lima-documentation.git
[submodule "camera/xpad"]
	path = camera/xpad
	url = https://github.com/gjover/Lima-camera-xpad.git
[submodule "camera/marccd"]
	path = camera/marccd
	url = https://github.com/gjover/Lima-camera-marccd.git
[submodule "camera/adsc"]
	path = camera/adsc
	url = https://github.com/gjover/Lima-camera-adsc.git
[submodule "camera/mythen"]
	path = camera/mythen
	url = https://github.com/gjover/Lima-camera-mythen.git
[submodule "third-party/CCfits"]
	path = third-party/CCfits
	url = git://git.epn-campus.eu/repositories/CCfits.git
[submodule "third-party/cfitsio"]
	path = third-party/cfitsio
	url = git://git.epn-campus.eu/repositories/cfitsio.git
[submodule "third-party/CBFLib"]
	path = third-party/CBFLib
	url = git://git.epn-campus.eu/repositories/CBFlib.git
[submodule "third-party/Sps"]
	path = third-party/Sps
	url = git://git.epn-campus.eu/repositories/Sps.git
[submodule "third-party/Processlib"]
	path = third-party/Processlib
	url = https://github.com/gjover/Processlib.git
[submodule "third-party/yat"]
	path = third-party/yat
	url = git://git.epn-campus.eu/repositories/yat.git
[submodule "camera/rayonixhs"]
	path = camera/rayonixhs
	url = https://github.com/gjover/Lima-camera-rayonixhs.git
[submodule "camera/pco"]
	path = camera/pco
	url = https://github.com/gjover/Lima-camera-pco.git
